{% extends "layout.html" %}
<html>
<head>
    {% block head %}
        <link href="{{ url_for('static', filename='videos-style.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock head %}
</head>
<body>
{% block content %}
    {% if channel_name is not none %}
        <h1 style="margin-left: 10px">Channel: {{ channel_name }}</h1>
    {% endif %}
    <div id="video-grid" class="grid">
        {% for item in videos %}
            <div id="{{ item.id }}" onclick="highlights('{{ item.id }}')" class="video" title="{{ item.name }}">
                <div class="image"
                     style="background: #fff url({{ item.image }}) no-repeat center; background-size: cover;">
                </div>
                <div class="profile-image"
                     style="background: #fff url({{ item.profile }}) no-repeat center; background-size: cover;">
                </div>
                <div class="video-name">
                    {{ item.name }}
                </div>
                <div class="author">
                    {{ item.author }}
                </div>
            </div>
        {% endfor %}
        {% if channel_name is none %}
            <div id='video-add-btn' class="video">
                <div class="add-image" style="text-align: center;">
                    <i class="fa fa-plus add-image"></i>
                </div>
                <div style="font-size: 18px; margin: -40px 8px">
                    Get highlights of a new video
                </div>
            </div>
        {% endif  %}
    </div>

    <div id="video-add-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="close-add" class="close">&times;</span>
            <div>Enter video id</div>
            <div style="color: #818181;font-size: 11px">
                twitch.tv/videos/<u><b>992204840</b></u>
            </div>
            <input id="input-id" style="width: 50%; height: 20px;margin-top: 5px">
            <div id="btn-get-add" class="btn-get">
                Get highlights
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='videos-script.js') }}"></script>
{% endblock content %}
</body>
</html>