@import "layout-style.css";

.video {
    width: 800px;
    float: left;
}

.video .profile-image {
    margin-top: 7px;
    margin-left: 2px;
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 40px;
}

.video .video-name {
    margin-top: 8px;
    margin-left: 90px;
    font-size: 20px;
    width: 710px;
    word-wrap: break-word;
}

.video .author {
    margin-top: 8px;
    margin-left: 90px;
    font-size: 17px;
    color: #181818;

}

.highlight-list {
    display: inline-block;
    margin-left: 10px;
    width: 120px;
    height: 450px;
    overflow-y:auto;
    float: left;
}

.highlights-panel {
    display: inline-block;
    margin-left: 30px;
}

.highlight-list .highlight {
    background-color: #8834fc;
    color: #ffffff;
    font-size: 18px;
    height: 35px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.1s;
}

.highlight:active {
    background-color: #555555;
}

.highlight .score {
    display: none;
}

.btn-drop {
    background-color: #FC7E4E;
    color: white;
    float: right;
    width: 130px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-drop:hover,
.btn-drop:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loader {
    border: 7px solid #8b8a8a;
    border-top: 7px solid #000000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    float: left;
    margin-left: 7px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
