* {
    margin: 0;
    padding: 0;
    font-family: monospace, "Lucida Console", "Courier New";
}

html,
body {
    height: 100%;
    width: 100%;
}

.header {
    padding: 10px;
    text-align: center;
    background: #8834fc;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;


}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav hr {
    background-color: #818181;
    margin: 10px 0px;
    border: none;
    height: 2px;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icon-bar {
    width: 90px;
    min-height: 100%;
    height: auto !important;
    padding: 0;
    background-color: #555;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content .btn-get {
    background-color: #62c42a;
    color: white;
    margin-top: 10px;
    width: 130px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-get:hover,
.btn-get:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-fields {
    width: 50%;
    height: 25px;
    margin-top: 5px
}

.login-labels {
    font-size: 16px;
    margin-top: 10px
}

#user {
    padding: 12px 28px 20px 30px;
    position: absolute;
    bottom: 0px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    display: flex;
}

.wrapper > div {
    float: left;
    padding: 10px;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    width: 100%;
    background-color: #e5e4e4;
}