* {
    margin: 0;
    padding: 0;
    font-family:  monospace, "Lucida Console", "Courier New";
}

html,
body {
    height: 100%;
    width: 100%;
}

.header {
    padding: 10px;
    text-align: center;
    background: #8834fc;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;


}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav hr {
    background-color: #818181;
    margin: 10px 0px;
    border: none;
    height: 2px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icon-bar {
    width: 90px; /* Set a specific width */
    min-height: 100%;
    height: auto !important;
    padding: 0;
    background-color: #555; /* Dark-grey background */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content .btn-get {
    background-color: #62c42a;
    color: white;
    margin-top: 5px;
    width: 130px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-get:hover,
.btn-get:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-lables {
    width: 50%;
    height: 25px;
    margin-top: 5px
}

#user {
    padding: 12px 28px 20px 30px;
    position: absolute;
    bottom: 0px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    display: flex;
}

.wrapper > div {
    float: left;
    padding: 10px;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    width: 100%;
    background-color: #e5e4e4;
}