@import "layout-style.css";

.grid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: flex-start;
}

.video {
    width: 23%;
    min-width: 150px;
    height: 240px;
    /*border: 1px solid black;*/
    background-color: #bbbbbb;
    margin: 10px;
    transition: 0.5s;

}

.video:hover {
    transform: translatey(10px);
    background-color: #8834fc;
}

.video .image {
    width: 100%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.loader {
    border: 12px solid #8b8a8a;
    border-top: 12px solid #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.video .profile-image {
    margin-top: 5px;
    margin-left: 2px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
    background-size: 50px;
}

.video .video-name {
    margin-top: 8px;
    margin-left: 60px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video .author {
    margin-top: 2px;
    margin-left: 60px;
    font-size: 15px;
    color: #555555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video .add-image i {
    font-size: 80px;
    margin: 27%;
    text-align: center;
}
